/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 18px; */
  /* 1rem = 18px */
  /* không khai báo fs */
  /* 1rem = 16px */
  font-size: 16px;
  scroll-behavior: smooth;
  background: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.title_format {
  margin-bottom: 0.8em;
  color: #000;
  font-size: 4em;
  font-weight: 500;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

.section {
  padding: 5rem 0;
}

/*NAVIGATION BAR - HEADER*/
.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

h1 a.navbar-brand {
  font-size: 3.5rem;
  color: #fff !important;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 2px;
}

h1 a span {
  color: #00cdce;
}

nav {
  background: rgba(25, 25, 25, 0.8);
  border: none;
  padding: 2em;
  transition: .5s all;
}

.navbar {
  color: #00cdce;
  /*background: rgba(25, 25, 25, 0.8);*/
}

.collapse .navbar-collapse {
  background-color: rgba(0, 0, 0, 0.49);
  padding: 1em;
  z-index: 9;
}

.nav-menu-content .nav-link {
  color: #fff !important;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 1em;
  background-color: rgba(12, 11, 11, 0);
  border: none;
  border-bottom: 2px solid #fff;
}

.navbar .navbar-expand-lg .navbar-brand {
  padding: 15px 0;
}

.nav-menu-content a:hover,
.nav-menu-content a:focus {
  border-bottom: 2px solid rgba(12, 11, 11, 0);
  color: #00cdce !important;
}

.nav > li > a {
  display: block;
  /*padding: 10px 15px;*/
}

/*CAROUSEL*/

.carousel .carousel__content .img-one,
.carousel .carousel__content .img-two,
.carousel .carousel__content .img-three,
.carousel .carousel__content .img-four {
  min-height: 800px;
}

.carousel .carousel__content .img-one {
  background: url(../img/b1.jpg) no-repeat center;
}

.carousel .carousel__content .img-two {
  background: url(../img/b2.jpg) no-repeat center;
}

.carousel .carousel__content .img-three {
  background: url(../img/b3.jpg) no-repeat center;
}

.carousel .carousel__content .img-four {
  background: url(../img/b4.jpg) no-repeat center;
}

.carousel .carousel__content #slider {
  margin: 0 auto;
}

.carousel__content {
  font-size: 1.125rem;
  margin: 0 auto 3.125rem;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
}

.swiper {
  width: 600px;
  height: 300px;
}


/*ABOUT*/

.about .item_container {
  box-shadow: 1px 1px 13px -1px rgba(255, 255, 255, 1);
}

.about .item_icon i {
  font-size: 2em;
  text-align: center;
  /*color: #000;*/
  /*background: #fff;*/
  border: 1px solid #7f7777;
  cursor: pointer;
  top: 0;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  transition: .5s all;
}

.about .item_icon i:hover {
  color: #fff;
  background: #00cdce;
}

.about .about__content p {
  line-height: 2em;
  font-size: 15px;
  color: #7f7777;
  margin-top: 0.8em;
}

.about .about__content {
  text-align: center;
}


.about .about_us h4 {
  color: #00cdce;
  font-size: 1.875rem;
  margin: 0;
  font-weight: 600;
  line-height: 1.8em;
  text-align: center;
}

.about .about_us p {
  margin: 5px 0 0;
  color: #000;
  font-size: 0.94rem;
  text-align: center;
  line-height: 1.81rem;
  font-weight: 300;
}


/*STATS*/

.stats {
  background-color: #00cdce;
}

.stats .stats__grid {
  text-align: center;
  margin: 0 auto;
}

.stats__content .counter {
  font-size: 3.5rem;
  margin: 0;
  color: #fff;
  letter-spacing: 5px;
}

.stats__info h4 {
  font-size: 1.875rem;
  letter-spacing: 2px;
  font-weight: 300;
  margin-top: 5px;
  color: #000;
}


/*BLOG*/

.blogs .content-top {
  border-top: 5px solid #00cdce;
  background: #efefef;
}

.blogs .blogs_info {
  padding: 1.5em;
}

.blogs .blogs_info p {
  font-size: 0.94rem;
  color: #000;
  margin: .5em 0;
  line-height: 1.6rem;
}

.blogs .blogs_info .more-btn {
  margin-top: 1em;
}

.blogs .blogs_info .more-btn a {
  color: #00cdce;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #000;
  padding: 7px 18px;
  background: #000;
  display: inline-block;
  transition: all .5s;
}


.blogs .blogs_info .more-btn a:hover {
  color: white;
}

.blogs .blogs_info h5 a {
  font-size: 1.6rem;
  color: #00cdce;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  transition: all .5s;
}


.blogs .blogs_info h5 a:hover,
.blogs .blogs_info h5 a:focus {
  color: #000;
  text-decoration: none;
  outline: none;
}


/*MODAL - POPUP*/

.modal-header {
  background: #00cdce;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0;
}

.modal-header .modal-title {
  font-size: 2.6rem;
}

.modal-header .modal-title .close {
  opacity: 1;
}

.modal .modal-body {
  padding: 1.375rem;
}

.modal .modal-body p {
  font-size: 1rem;
  color: #999;
  text-align: left;
  padding: 2rem 2rem 1rem;
  margin: 0 !important;
  line-height: 2rem;
}

.modal .modal-body img {
  display: block;
  width: 100%;
  height: auto;
}

.modal-dialog .modal-content {
  border-radius: 0;
}

button.close {
  font-size: 2.7rem;
  color: #a0260f;
  outline: none;
}


/*GET-MORE*/
.getMore {
  display: flex;
}

.getMore .getMore__img {
  /*position: relative;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.banner_house {
  background: url(../img/video.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 0;
  text-align: center;
}

.getMore .button {
  margin: 11rem 0 0;
}

.getMore .button a {
  padding: 1rem 1.19rem;
  top: 10rem;
  left: 26.5rem;
  display: inline-block;
  background: rgba(0, 189, 189, 0.53);
  border-radius: 55%;
  color: #ffffff;
  outline: none;
  transition: .5s all;
}

.getMore .button a:hover {
  transition: .5s all;
}

.getMore .button span {
  font-size: 2.1875rem;
  top: 2px;
}

.getMore__content {
  padding: 0 5.5rem;
  background: #00cdce;
  flex: 1;
}

.getMore__content h2 {
  text-align: center;
  margin: 1em 0 .5em;
  font-size: 42px;
  color: #000;
}

.getMore__content .getMore__info p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #fff;
  line-height: 2em;
  font-weight: 400;
  text-align: center;
}

.readMore-btn {
  margin: 2rem 0 4rem;
  text-align: center;
}

.readMore-btn a {
  color: #00cdce;
  font-size: 1rem;
  background: #000;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #000;
  padding: 0.5rem 1.1rem;
  outline: none;
  display: inline-block;
}

.readMore-btn a:hover {
  color: #fff
}

/*PORTFOLIO*/

.portfolio .portfolio__img {
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  position: relative;
  display: block;
}

.portfolio .portfolio__content-second {
  margin-top: 1rem;
}


.portfolio .portfolio__img:hover .portfolio__info__wrap {
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: 100%;
  transition: all .5s;
  transform: scale(1, 1) perspective(400px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.portfolio .portfolio__img img {
  transition: border-radius 400ms ease 0s;
  transform-origin: center center;
  border-radius: 0;
}

.portfolio__info__wrap {
  opacity: 0;
  font-size: 1rem;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
}

.portfolio__img .portfolio__info__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
